<div class="jumbotron">
  <div class="container text-center">
    <h1><%= @article.title %></h1>
    <div class="fa fa-calendar">
      <%= @article.created_at.strftime('%b %d, %Y') %>
    </div>
  </div>
</div>

<div class="col-md-10 col-md-offset-1">
  <div class="panel panel-default">
    <div class="panel-body">
      <p class="lead"><%= @article.body %></p>
    </div>
  </div>

  <% if user_signed_in? && current_user == @article.user %>
      <%= link_to 'Edit Article', edit_article_path(@article), class: 'btn btn-success btn-large' %>
    <%= link_to 'Delete Article', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-large' %>
  <% end %>
</div>

